input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}
input[type="date"]::-moz-calendar-picker-indicator {
  opacity: 0;
  display: none;
}
input[type="date"]::-ms-input-placeholder {
  opacity: 0;
  display: none;
}